blur {
    passes 3
    offset 3
    noise 0.02
    saturation 1.5
}

window-rule {
    match app-id="^dev[.]zed[.]Zed$"
    match app-id="^kitty$"
    match app-id="^tauonmb$"

    background-effect {
        blur true
    }

    popups {
        background-effect {
            blur true
        }
    }
}

// Fuzzel is a layer-shell, not a regular window, so it needs a layer-rule.
layer-rule {
    match namespace="^launcher$"

    background-effect {
        blur true
    }
}
